<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CIS 445 Project 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>MLB Post Season Roster</h1>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Choose Team</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://localhost:5000">Home</a></li>
          <li><a href="http://localhost:5000/Rockies">Rockies</a></li>
          <li><a href="http://localhost:5000/Braves">Braves</a></li>
          <li><a href="http://localhost:5000/Brewers">Brewers</a></li>
            <li><a href="http://localhost:5000/Dodgers">Dodgers</a></li>
        </ul>
      </div>
    </nav>
</div>

</body>
</html>